@{
    ViewData["Title"] = "O projekcie";
}

<div class="text-center">
    <h1 class="display-4">Programowanie w .NET</h1>
    <h2>Laboratorium 1</h2>
    <p>Aplikacja obliczająca pole oraz dodatkowe informacje okręgu oraz trojkąta rownobocznego.</p>
</div>